body{
  overflow: hidden;
}
#topPanel{
  background-color: #033a49;

  position: fixed;
  top:O%;
  height: 8vh;
  width: 100vw;
  margin-left: -8px;
  margin-top: -8px;
  font-family: sans-serif;
  color: white;
}
#panel{
  background-color: #033a49;
  position: fixed;
  overflow-y: auto;
  top:10vh;
  left: 1vw;
  height: 89vh;
  width: 20vw;
  border-radius: 10px;

  font-family: sans-serif;
  color: white;
  text-align: center;

}
#logo{
  margin-top: 0.5vw;
  width:14vw;
  border-radius: 20%;
}
#main-header{
  font-size:2vw;
  margin: 0.25vw;
}
#main-subheader{
  font-size:1.2vw;
  margin: 0.2vw;
}
#menu{
  position: absolute;
  top:0px;

  height: 8vh;
  width:100vw;
  text-align: center;
}
#menu a {
    display: inline-block; /* Make the links appear below each other */
    height: 6vh;
    padding-top: 1vh; /* Add some padding */
    padding-bottom: 1vh; /* Add some padding */
    padding-left: 1.2vw;
    padding-right: 1.2vw;
    width: 12vw;
    border-radius: 0px;


    background-color: #022731;
    color: white;
    text-decoration: none; /* Remove underline from links */
    font-family: sans-serif;
    font-size: 1.5vw;
}
#menu a:hover {
    background-color: #61dafb;
    color: black;
}
#links{
  margin-top: 0.6vw;
}
.linkicons{
  width: 3.9vw;
  margin: -0.1vw;
}
#ending{
  text-align: center;
  font-size:0.8vw;
  margin-top:-0.8vw;
  color: gray;
  margin-bottom: -1vw;
}
#ending a{
  color:grey;
  text-decoration: none;
}

#here object {
  position: fixed;
  top:16vh;
  left: 27vw;
  width: 72.9999vw;
  padding-right: 6vw;
  line-break:auto;
  height: 82vh;
  overflow-x: scroll;
}
@media only screen and (max-width: 900px){
  #here object {
    top:14vh;
  }
}
